html{
  background: rgb(10,192,199);
  background: linear-gradient(90deg, rgba(10,192,199,1) 22%, rgba(51,76,198,1) 46%, rgba(65,22,173,1) 72%); 
}

a:link{
    color: #0000CD;
    background-color: transparent;
    text-decoration: none;
  }

a:visited{
    color: #33eedd;
  }

a:hover{
    color: #22d13f;
    text-decoration:underline;
  }

a:active{
    color: #3356f3;
    text-decoration: underline;
  }

::selection{
    background-color:  #5583f7  ;
}
